html {
    box-sizing: border-box;
    width: 100%
}

body {
    box-sizing: border-box;
    width: 100%;
}

div.container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    box-sizing: border-box;
    width: 100%;
}

.project-title {
    font-family: Arial;
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    color: white;
    background-color: rgb(0,79,130);
    border-color: darkblue;
    text-align: center;
    margin:0px;
    padding: 20px;
}

.about {
    display: block;
    font-family: Arial;
    font-style: normal;
    font-size: 17px;
    font-weight: 100;
    color: white;
    background-color: rgb(0,79,153);
    text-align: center;
    padding: 15px;
    cursor: pointer;
    margin: 0;
}

.about:hover {
    background: lightblue;
    color: rgb(0,79,130);
}

div#p1 {
    display: none;
    align-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    background: rgb(0,79,130);
    color: white;
    font-size: 17px;
    font-style: normal;
    font-family: Arial;
    text-align: center;
    padding: 1em 0.5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;

    margin-top: 0.5em;
    min-height:400px;
    width:100%;
}

div.actions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 10%;
    /* margin: 30px; */
}

.info input {
    text-align: center;
    font-style: normal;
    font-size: 15px;
    width: 9.5vw;
    height: 6vh;
    border-radius: .5em;
    border-color: orange;
    cursor: pointer;
}

.info {
    margin-bottom: 0.5em;
}

.info button {
    text-overflow: ellipsis;
    background-color: lightblue;
    color: rgb(0,79,153);
    width: 10vw;
    height: 8vh;
    border-radius: .5em;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.info button:hover{
    background: orange;
}

.address {
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    margin-left: 0.5em;
}
.itemInfo{
    padding: 0.5em;
}

.itemInfo.lightBlue {
    background: lightblue;
    border-bottom: 10px;
    padding: 0.5em;
}

.rating {
    Color: blue;
}
