.container {
    width: 100%;
    flex-wrap: nowrap;
}

.project-title {
    font-family: 'Droid Serif';
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    color: white;
    background-color: rgb(0,79,130);
    border-color: darkblue;
    text-align: center;
    margin:0px;
    padding: 20px;
}

.about {
    display: block;
    font-family: 'Droid Serif';
    font-style: normal;
    font-size: 17px;
    font-weight: 100;
    color: white;
    background-color: rgb(0,79,153);
    text-align: center;
    padding: 15px;
    cursor: pointer;
    margin: 0;
    margin-bottom: 10px;
}

.about:hover {
    background: lightblue;
}

div#p1 {
    display: none;
    align-content: stretch;
    width: 50px;
    background: grey;
    font: white;
    text-align: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-content:space-between;
    flex-wrap: wrap;
    height:400px;
}

div.actions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 30%;
    margin: 30px;
}

.zipCode input {
    text-align: center;
    font-style: normal;
    font-size: 15px;
    width: 9.5vw;
    height: 6vh;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border-radius: .5em;
    border-color: orange;
}

.info button {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: lightblue;
    color: rgb(0,79,153);
    width: 10vw;
    height: 8vh;
    border-radius: .5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 1em 3em;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.address {

    justify-content: center;
    align-items: center;
    align-content: center;

}
.map {
    align-items: center;
    align-content: center;
   background-color: lightgrey;
}
